<h2>Dodawanie nowego wpisu</h2>
<div class="new-content">
    <div>
        <label for="title">Tytuł</label><input type="text" name="title" #title />
    </div>
    <div>
        <label for="about-post">Opis treści</label><input type="text" name="about-post" #shortContent />
    </div>
    <div>
        <label for="content">Treść</label><textarea name="content" #longContent ></textarea>
    </div>
    <div>
        <input type="submit" value="Zapisz" (click)="handleSubmit({title: title.value, shortContent: shortContent.value, longContent: longContent.value })" />
    </div>
</div>

