<h2>Dodawanie nowego wpisu</h2>
<div class="new-content">
    <div>
        <label for="post-title" >Tytuł </label><input id="post-title" [(ngModel)]="title" />
    </div>
    <div>
        <label for="post-short">Opis treści</label><textarea id="post-short" [(ngModel)]="shortContent"></textarea>
    </div>
    <div>
        <label for="post-long" >Treść</label><textarea id="post-long" [(ngModel)]="longContent"></textarea>
    </div>
    <div>
        <button (click)="handleAddingNewPost()">Zapisz</button>
    </div>
</div>

