footer {
    ul {
        list-style: none;
        font-size: 1.5em;
        text-decoration: underline;
        padding-left: 0.5em;

        li {
            display: inline-block;
            padding: 0.5em;
            background-color: #eee;
            cursor: pointer;
        }
        li:hover {
            text-decoration: underline;
        }
    }

}