.login {
    font-size: 1.2em;

    label {
        display: inline-block;
        text-align: right;
        min-width: 150px;
        padding-right: 1em;
        padding-bottom: 0.5em;
    }
    
    
    input,
    textarea
    {
        min-width: 450px;
        max-width: 450px;
        padding: 0.1em;
    }
    
    textarea {
        font-size: 1.25em;
        height: 5em;
    }

    input {
        font-size: 1em;
    }

    
    button {
        font-size: 1em;
        margin-left: calc( 150px + 1em );
        width: 100px;
    }
    
}
